<section class="layer">
  <div class="layer-inset">
    <h1>Media</h1>
    <p>Responsive media containers for images and video.</p>
  </div>
</section>

<section id="default" class="example">
  <div class="media"></div>
  <span class="example-label">Default</span>
</section>

<section id="image" class="example">
  <div id="media-image" class="media"></div>
  <span class="example-label">Image</span>
</section>

<section id="video" class="example">
  <div class="media">
    <video autoplay loop muted playsinline>
      <source
        src="https://res.cloudinary.com/moona/video/upload/q_auto/v1741306213/moona-bg-2510-4_cwmjkv.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <span class="example-label">Video</span>
</section>
