<section class="layer">
  <div class="layer-inset">
    <h1>Hierarchy</h1>
    <p>Accordions, breadcrumbs, collapsibles, and menus.</p>
  </div>
</section>

<section class="layer">
  <div class="layer-inset">
    <h2>Accordion</h2>
    <p>Accordion will go here.</p>

    <h2>Breadcrumb</h2>
    <nav class="breadcrumb inline-links">
      <button class="button button-icon"><i class="fa-regular fa-house"></i></button>
      <i class="fa-solid fa-angle-right"></i>
      <a class="button button-link" href="#">Products</a>
      <i class="fa-solid fa-angle-right"></i>
      <span style="color: var(--color-half)">All Products</span>
    </nav>

    <h2>Collapsible</h2>
    <p>Collapsible will go here.</p>

    <h2>Menubar</h2>
    <p>Menubar will go here.</p>

    <h2>Navigation Menu</h2>
    <p>Navigation Menu will go here.</p>
  </div>
</section>
