<section class="layer">
  <div class="layer-inset">
    <h1>Nav</h1>
    <p>Accordions, breadcrumbs, menus, pagination, and tabs.</p>
  </div>
</section>

<section class="layer">
  <div class="layer-inset">
    <h2>Accordion</h2>
    <p>Accordion will go here.</p>

    <h2>Breadcrumb</h2>
    <p>Breadcrumb will go here.</p>

    <h2>Collapsible</h2>
    <p>Collapsible will go here.</p>

    <h2>Menubar</h2>
    <p>Menubar will go here.</p>

    <h2>Navigation Menu</h2>
    <p>Navigation Menu will go here.</p>

    <h2>Pagination</h2>
    <p>Pagination will go here.</p>

    <h2>Tabs</h2>
    <p>Tabs will go here.</p>
  </div>
</section>
