#filters a.active {
  color: var(--color-darkest);
}

#grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

#grid a {
  background-image: none;
}

.item:not(a) {
  opacity: 0.3;
}

.item h4 {
  margin: 0.5rem 0 1rem;
}

.thumb {
  aspect-ratio: 4/3;
  background: var(--thumb, var(--color-lighter)) center/cover no-repeat;
  border-radius: 0.75rem;
}
